*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  user-select: none;
}
.block{
  background: antiquewhite;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;

}
.block a{
  margin-left:  26px;
}
.row{
  display: flex;
  justify-content: space-between;

}
.img{
 max-height: 8rem;
}
.button{
  background-color: #ff0000a8;
  color: white;
  width: 1.5rem;
  border: none;
  font-family: cursive;
}